@import "./variables.scss";

body {
  min-height: 100vh;
  background-color: $background;
  color: $primary-dark;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: stretch;
  min-height: -webkit-fill-available;
}

a {
  color: $primary-dark;
  text-decoration: none;
  transition: 100ms;

  &:hover {
    color: $primary-dark;
  }
}

* {
  box-sizing: border-box;
}