@import './variables.scss';

body {
  min-height: 100vh;
  color: $primary;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: stretch;
  min-height: -webkit-fill-available;
}

a {
  color: $primary;
  text-decoration: none;
  transition: 100ms;
}

* {
  box-sizing: border-box;
}
