// Colors

// Light Mode

$background: #edf6f9;
$primary: #006d77;
$primary-light: #008b97;
$primary-dark: #005f68;
$secondary: #83c5be;
$btn-primary: #ffddd2;
$btn-secondary: #e29578;
$image-background:#ffffff;