@import './variables.scss';

body {
  min-height: 100vh;
  color: $primary;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: stretch;
  min-height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}
